span {
    background-color: inherit;
    font-kerning: auto;
    font-family: 'Source Sans', 'Segoe UI', Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: white;
    font-size: medium;
}

.monospace {
    font-family: 'JetBrains Mono', 'Courier New', Courier, monospace;
    font-weight: normal;
    color: white;    
}

.large {
    font-size: larger;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

.c-top {
    align-items: top;
}

.transparent {
    background-color: transparent;
}

.blackContainer {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 4px;
    margin: 5px;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("./Assets/Background.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.odometer-player {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.1em;
}

.odometer-player .digit {
    height: 2.5rem;
    overflow: hidden;
    position: relative;
}

.odometer-player .digit-wrapper {
    display: flex;
    flex-direction: column;
    transition: transform 1s ease-in-out;
    user-select: none;
}

.odometer-player .digit-wrapper span {
    height: 2.5rem;
    line-height: 2.5rem;
    text-align: center;
}

.odometer-player .comma {
    width: 0.5ch;
    user-select: none;
    color: #FFFFFF;
    line-height: 2.5rem;
    text-align: center;
    padding-right: 2px;
}
