span {
    background-color: inherit;
    font-kerning: auto;
    font-family: 'Source Sans 3', 'Segoe UI', Arial, Helvetica, sans-serif;
    color: white;
    font-size: medium;
}

.monospace {
    font-family: 'JetBrains Mono', 'Courier New', Courier, monospace;
}

.large {
    font-size: larger;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

.c-top {
    align-items: top;
}

.transparent {
    background-color: transparent;
}

.blackContainer {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 4px 4px 4px 4px;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("./Assets/Background.png");
    background-size: cover;
    background-repeat: no-repeat;
}